<div class="container">
  <div class="col-sm-6"><img src="/images/graph.png" alt="" /></div>
  <div class="col-sm-6">
    <h1>Contact to us!</h1>
    <p>Enter the following information:</p>
    <form action="/subscribe" method="post">
      <input type="text" name="name" placeholder="Name" />
      <input type="email" name="email" placeholder="Email@some.com" />
      <input
        type="text"
        name="zipCode"
        placeholder="Zip Code"
        pattern="[0-9]{5}"
      />

      <input type="submit" value="Submit" />
    </form>

    <p>We'll get back to you soon!</p>
  </div>
</div>
