<div id="nav">
  <div class="col-sm nav-align"><h1 id="title">Confetti Cuisine</h1></div>
  <div class="col-sm nav-align">
    <a href="/"> <span class="button">Home</span> </a>
    <a href="/courses/new"> <span class="button">New Course</span> </a>
    <a href="/subscribers/new"> <span class="button">New Subscribe</span> </a>
    <a href="/users/new"> <span class="button">New User</span> </a>
  </div>
</div>
